body{
    background-image: url("../4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#a1{
    color: black;
    padding-left: 500px;
    background-color: aliceblue;
}
#a2{
    color: black;

}
#a3{
    color: black;
    padding-left: 650px;
}
#a4{
    color: black;
    padding-left: 650px;
}
#a5{
    color: black;
    padding-left: 650px;
}